.custom-input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.list-group-item {
  padding-left: 13px !important;
  position: relative;
}
.list-group-item p {
  display: inline;
  position: absolute;
  right: 20px;
}
